<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userSignupResponse</servlet-name>
        <servlet-class>userSignupResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOtpResponse</servlet-name>
        <servlet-class>checkOtpResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkPhonenoResponse</servlet-name>
        <servlet-class>checkPhonenoResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSignupSendOTP</servlet-name>
        <servlet-class>userSignupSendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLoginResponse</servlet-name>
        <servlet-class>userLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogout</servlet-name>
        <servlet-class>userLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordResponse</servlet-name>
        <servlet-class>changePasswordResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMemberLogic</servlet-name>
        <servlet-class>addMemberLogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchCentersCityWise</servlet-name>
        <servlet-class>fetchCentersCityWise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookResponse</servlet-name>
        <servlet-class>bookResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelAppointment</servlet-name>
        <servlet-class>cancelAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffLoginResponse</servlet-name>
        <servlet-class>staffLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffLogout</servlet-name>
        <servlet-class>staffLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vaccinatedVerify</servlet-name>
        <servlet-class>vaccinatedVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vaccinatedResponse</servlet-name>
        <servlet-class>vaccinatedResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginResponse</servlet-name>
        <servlet-class>adminLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCenterResponse</servlet-name>
        <servlet-class>addCenterResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchCovidCenterResponse</servlet-name>
        <servlet-class>fetchCovidCenterResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCenterResponse</servlet-name>
        <servlet-class>deleteCenterResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>covidCenterLoginResponse</servlet-name>
        <servlet-class>covidCenterLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStaffResponse</servlet-name>
        <servlet-class>addStaffResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchStaffResponse</servlet-name>
        <servlet-class>fetchStaffResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStaffResponse</servlet-name>
        <servlet-class>deleteStaffResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVaccineDataResponse</servlet-name>
        <servlet-class>addVaccineDataResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchVaccineDataResponse</servlet-name>
        <servlet-class>fetchVaccineDataResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteVaccineDataResponse</servlet-name>
        <servlet-class>deleteVaccineDataResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userSignupResponse</servlet-name>
        <url-pattern>/userSignupResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOtpResponse</servlet-name>
        <url-pattern>/checkOtpResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkPhonenoResponse</servlet-name>
        <url-pattern>/checkPhonenoResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSignupSendOTP</servlet-name>
        <url-pattern>/userSignupSendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLoginResponse</servlet-name>
        <url-pattern>/userLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogout</servlet-name>
        <url-pattern>/userLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordResponse</servlet-name>
        <url-pattern>/changePasswordResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMemberLogic</servlet-name>
        <url-pattern>/addMemberLogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchCentersCityWise</servlet-name>
        <url-pattern>/fetchCentersCityWise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookResponse</servlet-name>
        <url-pattern>/bookResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelAppointment</servlet-name>
        <url-pattern>/cancelAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffLoginResponse</servlet-name>
        <url-pattern>/staffLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffLogout</servlet-name>
        <url-pattern>/staffLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaccinatedVerify</servlet-name>
        <url-pattern>/vaccinatedVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaccinatedResponse</servlet-name>
        <url-pattern>/vaccinatedResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginResponse</servlet-name>
        <url-pattern>/adminLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCenterResponse</servlet-name>
        <url-pattern>/addCenterResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchCovidCenterResponse</servlet-name>
        <url-pattern>/fetchCovidCenterResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCenterResponse</servlet-name>
        <url-pattern>/deleteCenterResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>covidCenterLoginResponse</servlet-name>
        <url-pattern>/covidCenterLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStaffResponse</servlet-name>
        <url-pattern>/addStaffResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchStaffResponse</servlet-name>
        <url-pattern>/fetchStaffResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaffResponse</servlet-name>
        <url-pattern>/deleteStaffResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVaccineDataResponse</servlet-name>
        <url-pattern>/addVaccineDataResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchVaccineDataResponse</servlet-name>
        <url-pattern>/fetchVaccineDataResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteVaccineDataResponse</servlet-name>
        <url-pattern>/deleteVaccineDataResponse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
